/* Main styles */

body{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

h1{
    color: #0054b9 !important;
    font-size: 16px;
    letter-spacing: -0.03em;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #c00;
}

.container{
    width: 730px;
    margin-left: 51px;
}

.d-flex{
    display: flex;
}

/* Header */

.header{
    justify-content: space-between;
    margin-top: 22px;
    margin-left: -21px;
}

.header__link-nav:hover .header__nav{
    background-image: url(../img/navigate-hover.jpg);
}

.header__nav{
    background-image: url(../img/navigate.png);
    width: 13px;
    height: 13px;
}

.header__link-nav span{
    margin-left: 6px;
}

.header__link-privacy{
    margin-left: 15px;
    color: #999;
}

/* Media */

.media{
    margin-top: 20px;
    justify-content: space-between;
}

.media__title-media a{
    color: #0054b9;
}

.media__title-media a:hover{
    color: #c00;
    cursor: pointer;
}

.media_head{
    align-items: flex-end;
}

.media__title-city{
    margin-left: 14px;
    
}

.media__title-city a{
    color: #6da2e1;
}

.media__title-city a:hover{
    color: #c00;
    cursor: pointer;
}

.media__time{
    font-size: 12px;
    color: #999;
    margin-left: 12px;
    letter-spacing: 0.02em;
}

/* Media - News */

.news__list{
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
}

.news__list li{
    margin-top: 7px;
    letter-spacing: 0.01em;
}

.news__list li:nth-child(1){
    list-style-image: url(../img/rbk.png);
}
.news__list li:nth-child(2){
    list-style-image: url(../img/ros-gazeta.png);
}
.news__list li:nth-child(3){
    list-style-image: url(../img/gazeta.png);
}
.news__list li:nth-child(4){
    list-style-image: url(../img/gazeta.png);
}
.news__list li:nth-child(5){
    list-style-image: url(../img/gazeta.png);
}

/* Media - Course */

.course{
    margin-top: 10px;
}

.course p{
    margin-top: 0;
    margin-right: 10px;
    letter-spacing: 0.03em;
}

.course span{
    color: #999;
}

/* Media - Yandex-adv-banner */

.yandex-adv-banner{
    width: 210px;
}

.yandex-adv-banner__title{
    margin: 13px 13px 0 0;
    letter-spacing: -0.02em;
}

.yandex-adv-banner__title a{
    color: #0054b9;
}

.yandex-adv-banner__title a:hover{
    color: #c00;
    cursor: pointer;
}

.yandex-adv-banner__lebel{
    margin-top: 9px;
}

/* Search */

.logo{
    margin-top: 31px;
}

.search__block{
    margin-left: 17px;
}

.searche__list{
    font-size: 15px;
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
}

.searche__list li{
    margin-right: 22px;
}

.searche__list li a{
    color: #0054b9;
}

.searche__list li a:hover{
    color: #c00;
}

.search-form{
    margin-top: 10px;
}

.search-form__main-fill{
    border: 2px solid #ffdb4d;
    width: 503px;
    padding: 6px;
    /* background: url(../img/keyboard.png) no-repeat 98% 50%; */
}

.search-form__inp{
    border: none;
    width: 463px;
    font-size: 16px;
}

.search-form__keyboard{
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.3;
}

.search-form__keyboard:hover{
    opacity: 0.6;
}

.search-form__btn{
    font-size: 16px;
    background-color: #ffdb4d;
    border: none;
    padding: 9px 18px 9px 17px;
    margin: 0px -4px 0 -4px;
    cursor: pointer;
}

.search-form__btn:focus, .search-form__inp:focus{
    outline: none;
}

.search-form__img{
    vertical-align: middle;
    cursor: pointer;
}

.search__label{
    margin-top: 10px;
}

.search__label-link{
    color: #999;
    cursor: pointer;
}